.selectInfo {

    margin-top: 15px;

    label:first-child {
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        color: $primaryColor;

    }

    .selectInputInfo {
            margin-top: 16px;
            width: 100%;
            position: relative;
            transition: all 0.25s;

        
            span {
                position: absolute;
                right: 0;
                top: -19px;
                font-weight: 800;
                font-size: 11px;
                line-height: 19px;
                color: $primaryColor;
                opacity: 0.8;
            }
        
            label {
            position: relative;
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            bottom: 15px;
            color: $primaryColor;
            }

            input {
                width: 100%;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                color: $primaryColor;

                &::placeholder {

                    color: #9F9F9F;

                }
            }

            .titileLabel {
                line-height: 21px;
                position: absolute;
                top: 16px;
                left: 24px;
                height: 0px;
              }


        img {
                width: 23px;
                position: absolute;
                top: 40px;
                left: 25px;
        }
        
    }

    .inputInfo {
        padding: 24px 24px 0px;
        background: #FFFFFF;
        appearance: none;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 8px;
        height: 74px;
        width: 100%;
      }

      .inputPhone {
        padding-left: 55px;
      }
}

.inputInfoError {
    margin-top: 25px !important;
}