.selectInfo {

    margin-top: rem(15);

    label:first-child {
        font-weight: 800;
        font-size: rem(14);
        line-height: rem(19);
        color: $primaryColor;

    }

    .selectInputInfo {
            margin-top: rem(16);
            width: 100%;
            position: relative;
            transition: all 0.25s;

        
            span {
                position: absolute;
                right: 0;
                top: rem(-19);
                font-weight: 800;
                font-size: rem(11);
                line-height: rem(19);
                color: $primaryColor;
                opacity: 0.8;
            }
        
            label {
            position: relative;
            font-weight: 800;
            font-size: rem(16);
            line-height: rem(19);
            bottom: rem(15);
            color: $primaryColor;
            }

            input {
                width: 100%;
                font-weight: normal;
                font-size: rem(16);
                line-height: rem(21);
                color: $primaryColor;

                &::placeholder {

                    color: #9F9F9F;

                }
            }

            .titileLabel {
                line-height: rem(21);
                position: absolute;
                top: rem(16);
                left: rem(24);
                height: 0;
              }


        img {
                width: rem(23);
                position: absolute;
                top: rem(40);
                left: rem(25);
        }
        
    }

    .inputInfo {
        padding: rem(24) rem(24) 0;
        background: #FFFFFF;
        appearance: none;
        border: rem(1) solid #DFDFDF;
        box-sizing: border-box;
        border-radius: rem(8);
        height: rem(74);
        width: 100%;
      }

      .inputPhone {
        padding-left: rem(55);
      }
}

.inputInfoError {
    margin-top: rem(25) !important;
}