$headerMainText: #9F9F9F;
$primaryColor: #2F2F2F;

@import './header';
@import './main';
@import './animations';

h1 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #000000;
  }


h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    //line-height: 130%;
    color: $primaryColor;
    margin: 10px 0px 24px;
}

a {
    text-decoration: none;
    color: #585757;
}

form {
    width: 100%;
}

.spanError {
    position: absolute;
    right: 0;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: $primaryColor;
    opacity: 0.8;
}

.errorCheckbox {
    position: absolute;
    left: 0;
    top: -20px;
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    color: #2F2F2F;
    opacity: 0.8;
}



footer {
    margin: 0 auto;
    width: 1140px;
    height: 380px;
    border-top: 1px solid rgba(47, 47, 47, 0.16);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 120px;

    padding: 110px 0px 0px;

    img {
        width: 220px;
    }

    p {
        line-height: 23px;
        margin: 0;
        padding: 0;
        color: #585757;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        margin: 15px 0;
    }
    
}

select:focus, input:focus{
    outline: 1px solid #CD8B65;
}

.errorOutline {
        outline: 1px solid #CD8B65;
        border-radius: 8px;
}