$headerMainText: #9F9F9F;
$primaryColor: #2F2F2F;

@function rem($size, $context: 16) {
    @return ($size / $context) * 1rem;
  }

@import './header';
@import './main';
@import './animations';

h1 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: rem(46);
    line-height: rem(52);
    letter-spacing: 0.01em;
    color: #000000;

    @media (max-width: 936px) {
            text-align: center;
      }
  }


h2 {
    font-style: normal;
    font-weight: 800;
    font-size: rem(16);
    //line-height: 130%;
    color: $primaryColor;
    margin: rem(10) rem(0) rem(24);
}

a {
    text-decoration: none;
    color: #585757;
}

form {
    width: 100%;
    @media (max-width: 936px) {
        max-width: rem(557);
        margin: 0 auto;
      }
}



.spanError {
    position: absolute;
    right: 0;
    font-weight: 800;
    font-size: rem(14);
    line-height: rem(19);
    color: $primaryColor;
    opacity: 0.8;
}

.errorCheckbox {
    position: absolute;
    left: 0;
    top: rem(-20);
    font-weight: 800;
    font-size: rem(12);
    line-height: rem(19);
    color: #2F2F2F;
    opacity: 0.8;
}



footer {
    margin: 0 auto;
    max-width: rem(1140);
    height: rem(380);
    border-top: 1px solid rgba(47, 47, 47, 0.16);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: rem(120);
    padding: rem(110) rem(0) rem(0);

    @media (max-width: 1155px) {
        max-width: rem(900);
        grid-template-columns: 1fr 1fr;
        padding: rem(90) rem(0) rem(0);
        gap: rem(30);
      }

      @media (max-width: 920px) {
        max-width: rem(740);
        grid-template-columns: 1fr 1fr;
        padding: rem(90) rem(0) rem(0);
        gap: rem(30);
      }

      @media (max-width: 760px) {
        max-width: rem(570);
        margin: rem(0) rem(30);
        grid-template-columns: 1fr;
        padding: rem(90) rem(0) rem(0);
        gap: rem(50);
      }

    img {
        width: rem(220);
    }

    p {
        line-height: rem(23);
        margin: 0;
        padding: 0;
        color: #585757;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        margin: rem(15) 0;
    }

    div {
        justify-self: center;
        max-width: rem(160);
    }
}

select:focus, input:focus{
    outline: rem(1) solid #CD8B65;
}

.errorOutline {
        outline: rem(1) solid #CD8B65;
        border-radius: rem(8);
}