


.reInfo {
    
    h2 {
        margin: rem(22) 0 rem(8);
        font-weight: 800;
        font-size: rem(14);
        line-height: rem(19);
        color: $primaryColor;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        line-height: rem(19);
        color: $primaryColor;
        margin: 0;
        padding: 0;
    }
}

.reCheckbox {
    margin-top: rem(52);
    position: relative;



    label {
        position: relative;
        left: rem(11);
        bottom: rem(14);
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        line-height: rem(21);
        color: $primaryColor;
        opacity: 0.8;

        @media (max-width: 461px) {
            width: 75%;
            display: block;
            left: rem(59);
            top: rem(-43);
          }
    }

    svg {
        position: absolute;
        top: rem(13);
        left: rem(13);
        display: none;
        z-index: 4;
        pointer-events: none;
    }

    input {
        background: white;
        position: relative;
        z-index: 2;
        cursor: pointer;
        width: rem(34);
        height: rem(34);
        appearance: none;
        border: rem(1) solid #e9c1ac;
        border-radius: rem(8);
        transition: 0.2s all;

        &:checked,
        &:hover {
            border: rem(1) solid #F3E2D9;
        }

        &:checked + svg {
            display: block;
          }
    }


}

