.selectHelp {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: relative;
  max-width: rem(557);

  @media (max-width: 936px) {
    margin: rem(25) auto;
    justify-content: center;
  }

input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
        box-shadow: 0 rem(100) rem(80) rgba(0, 0, 0, 0.07), 0 rem(41.7776) rem(33.4221) rgba(0, 0, 0, 0.0503198), 0 rem(22.3363) rem(17.869) rgba(0, 0, 0, 0.0417275), 0 rem(12.5216) rem(10.0172) rgba(0, 0, 0, 0.035), 0 rem(6.6501) rem(5.32008) rgba(0, 0, 0, 0.0282725), 0 rem(2.76726) rem(2.21381) rgba(0, 0, 0, 0.0196802);
        span {
          color: white;
        }

        svg {
          stroke:white;
        }

        svg.packa {
          fill:white;
        }

        p {
          color:white;
        }
      }
    }
  }

  .leftBox {
    background: #FAF9F9;
    box-sizing: border-box;
    border-radius: rem(24) 0 0 rem(24);
    border-right: none !important;
  }

  .rightBox {
    border-radius: 0 rem(24) rem(24) 0px;
  }
  
  .box {
    border: rem(1) solid #dfdfdf;
    width: rem(278);
    height: rem(186);
    transition: all 250ms ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;

    @media (max-width: 620px) {
      width: rem(240);
    }

    @media (max-width: 570px) {
      width: rem(220);
    }

    @media (max-width: 527px) {
      width: rem(200);
    }

    @media (max-width: 500px) {
      width: rem(190);
    }

    @media (max-width: 480px) {
      width: rem(180);
    }

    @media (max-width: 460px) {
      width: rem(170);
    }

    @media (max-width: 440px) {
      width: rem(150);
    }
    

    .iconBox {
      top: rem(24);
      left: rem(24);
      position:relative;
      width: rem(80);
      height: rem(80);
      border-radius: 50%;
      background: $primaryColor;
      background-color: rgba(47,47,47,0.16);

      svg {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        stroke:#9F9F9F;
      }

      svg.packa {
        fill: #9F9F9F;
      }
    }

    span {
      position: absolute;
     // font-weight: 600;
     font-weight: 400;
      font-size: rem(16);
      line-height: rem(21);
      color: #585757;
      text-align: left;
      left: rem(24);
      bottom: rem(24);
      padding-right: rem(5);

      
    @media (max-width: 570px) {
      font-size: rem(15);
    }

    @media (max-width: 527px) {
      font-size: rem(14);
    }

    @media (max-width: 440px) {
      font-size: rem(11);
      padding-right: rem(10);
    }


  }

  .biggerSpan {
    @media (max-width: 414px) {
      bottom: rem(10);
      }
    }
    }

  .focusBox {
    border: rem(1) solid #CD8B65;
  }

  .spanError {
    top:rem(-32);
  }

}