

.donateGroup {
    margin-top: rem(15);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

  .donate  {
    font-weight: bold;
    margin-top: rem(40);
    position: relative;

    @media (max-width: 936px) {
      margin-top: rem(60);
    }

    @media (max-width: 440px) {
      margin-top: rem(80);
    }

    .spanError {
      top: rem(4);
    }

    .info {
        font-weight: 800;
        font-size: rem(16);
        line-height: rem(19);
        color: $primaryColor;
    }


    .radioText {
        background: #FFFFFF;
        border: rem(1) solid #DFDFDF;
        box-sizing: border-box;
        border-radius: rem(8);
        font-weight: 800;
        font-size: rem(16);
        color: $primaryColor;
        padding: rem(16);

        @media (max-width: 670px) {
          padding: rem(16) rem(16);
          font-size: rem(16);
        }
        @media (max-width: 564px) {
          padding: rem(16) rem(10);
          font-size: rem(15);
        }

        @media (max-width: 420px) {
          padding: rem(16) rem(6);
          font-size: rem(12);
        }

        @media (max-width: 350px) {
          padding: rem(16) rem(4);
          font-size: rem(11);
        }
      }

    .customAmount {
        width: rem(85);
        position: relative;
        background: #FFFFFF;
        border: rem(1) solid #DFDFDF;
        box-sizing: border-box;
        border-radius: rem(8);
        font-weight: 800;
        font-size: rem(16);
        color: $primaryColor;
        padding: rem(16);
        height: rem(55);

        @media (max-width: 670px) {
            position:absolute;
            bottom: rem(-70);
        }

        span {
            position: absolute;
            right: rem(9);
        }
      }

      .inputAmount {
        width: rem(42);
        font-style: normal;
        font-weight: 800;
        font-size: rem(16);
        line-height: rem(21);
        color: $primaryColor;
        border: none;
        border-bottom: rem(1) solid #C9C9C9;

        &:active,
        &:focus {
            outline: none;
        }



      }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


      .radioControl {
        height: rem(53);
        position: relative;
        display: inline-block;
        margin-right: rem(7);
        font-size: 1rem;
        cursor: pointer;
        z-index: 12;

        input[type="radio"] {
            display: none;
          }

      }

  }


  


  .donate .radioControl input:checked ~ .radioText,
  .donate .customAmount.selected {
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    color: white;
    
    input {
        background: transparent;
        color:white;
        border-bottom: rem(1) solid white;
    }
  }